In [17]:
from fastai.tabular import *

In [30]:
import pandas as pd
from TechnicalIndicators import sma, ema, macd, bollinger_bands, obv

### Download backtesting data

In [31]:
rawdf = pd.read_csv('data.csv')
rawdf.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,tkbbav,tkqav,ign.
0,1501545600000,0.072459,0.073085,0.072370,0.073072,365.984,1501546499999,26.593262,165,226.308,16.430991,25543.757517
1,1501546500000,0.073303,0.075079,0.073045,0.075079,323.176,1501547399999,23.931024,151,134.156,9.912874,25543.757517
2,1501547400000,0.074823,0.075055,0.073831,0.074005,199.679,1501548299999,14.880624,140,93.437,6.967521,25543.757517
3,1501548300000,0.074080,0.074589,0.074061,0.074589,77.207,1501549199999,5.743060,137,37.725,2.805365,25543.757517
4,1501549200000,0.074399,0.074514,0.073313,0.073313,147.532,1501550099999,10.892043,153,61.335,4.530950,25549.280170

In [32]:
dataset_df = rawdf[['open_time', 'open', 'high', 'low', 'close', 'volume' ]]
dataset_df.head()

       open_time      open      high       low     close   volume
0  1501545600000  0.072459  0.073085  0.072370  0.073072  365.984
1  1501546500000  0.073303  0.075079  0.073045  0.075079  323.176
2  1501547400000  0.074823  0.075055  0.073831  0.074005  199.679
3  1501548300000  0.074080  0.074589  0.074061  0.074589   77.207
4  1501549200000  0.074399  0.074514  0.073313  0.073313  147.532

### Add Technical Indicators as features

In [33]:
price_df = dataset_df.open
volume_df = dataset_df.volume

ema10_list = ema(price_df.tolist(), n=10)
ema20_list = ema(price_df.tolist(), n=20)
ema50_list = ema(price_df.tolist(), n=20)

sma10_list = sma(price_df.tolist(), n=20)
sma20_list = sma(price_df.tolist(), n=20)
sma50_list = sma(price_df.tolist(), n=20)

bb10_list = bollinger_bands(price_list.tolist(), 10, mult=2)
bb20_list = bollinger_bands(price_list.tolist(), 20, mult=2)

macd_list = macd(price_df.tolist())

obv_list = obv(volume_df.tolist(), price_df.tolist())

TypeError: ema() missing 1 required positional argument: 'price_list'

### Add previous candle data as features

In [ ]:
procs = [FillMissing, Categorify, Normalize]
valid_idx = range(len(data_df) - SPLIT_NUM, len(data_df))